# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

data/*
log/*

.git/
.idea/
.DS_Store
_book
node_modules/

_build
_packages
jmeter_logs
kuiper_conf_util
corss_build.tar
corss_build_for_rpm.tar

*.swp
*.history
