name: Run test cases

concurrency:
  group: test-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    tags:
      - "*"
    branches:
      - master
  pull_request:
    paths-ignore:
      - "docs/**"
  release:
    types:
      - published

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: '1.22'
    - uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        pip3 install pynng==0.7.2 && sudo apt-get update && sudo apt-get install libzmq3-dev -y
    - name: Build plugins
      run: |
        curl -sSf https://raw.githubusercontent.com/WasmEdge/WasmEdge/master/utils/install.sh | bash -s -- -v 0.13.4 > /dev/null

        curl -sSfL -O https://github.com/second-state/wasmedge_rustls_plugin/releases/download/0.1.0/wasmedge_rustls_plugin_ubuntu-22.04.zip
        unzip wasmedge_rustls_plugin_ubuntu-22.04.zip
        mv target/release/libwasmedge_rustls.so ~/.wasmedge/plugin/

        mkdir -p plugins/wasm
        set -e -u -x
        mkdir -p data
        mkdir -p log
        mkdir -p plugins/sinks
        sed -i -r "s/debug: .*/debug: true/1" etc/kuiper.yaml
        mkdir -p plugins/portable/mirror
        cd sdk/go/example/mirror
        go build -o ../../../../plugins/portable/mirror/mirror .
        cp mirror.json ../../../../plugins/portable/mirror
        cd ../../../../
        cp -r sdk/python/example/pysam plugins/portable/pysam
        cp -r sdk/python/ekuiper plugins/portable/pysam/
        cp test/lookup.json data/lookup.json
    - name: Run test case
      run: |
        make failpoint-enable
        go test --tags="edgex msgpack script test" --cover -covermode=atomic -coverpkg=./... -coverprofile=coverage.xml $(go list ./... | grep -vE "github.com/lf-edge/ekuiper/internal/topo/topotest/plugin|github.com/lf-edge/ekuiper/extensions")
        make failpoint-disable
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        files: coverage.xml,topotest-plugin.xml
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: false
        verbose: true
    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: stream.log
        path: log/stream.log

  run_fvt_tests:
    needs:
      - run_unit_tests
    uses: ./.github/workflows/run_fvt_tests.yaml
