name: Run all test cases

on: [push, pull_request, release]

jobs:
    run_test_case:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-go@v1
          with:
            go-version: '1.11.5'
        - name: run test case
          run: |
            go build --buildmode=plugin -o plugins/sources/Random.so plugins/sources/random.go
            go build --buildmode=plugin -o plugins/sinks/File.so plugins/sinks/file.go
            go build --buildmode=plugin -o plugins/functions/Echo.so plugins/functions/echo.go
            go build --buildmode=plugin -o plugins/functions/CountPlusOne.so plugins/functions/countPlusOne.go  
            go test ./...
    