name: Semgrep

on:
  push:
    branches: [ "master", "main" ]
  pull_request: 
    branches: [ "master", "main" ]

jobs:
  semgrep:
    name: Scan
    runs-on: ubuntu-latest
    container:
      image: returntocorp/semgrep
    if: (github.actor != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@v3
      - run: semgrep scan --config=.semgrep --error
